*{
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 3em;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

header{
    background-color: aqua;
    position: fixed;
    width: 100%;
}

main{
    margin: 1em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

nav{
    text-align: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
}

#inicio{
    white-space: pre-line;
}

#contacto iframe {
    height: 50px;
    width: 100px;
    border: 0;
}

#torneos img, #fotos img{
    width: 100%;
}

@media (min-width: 320px) {

    body{
        font-size: 1.75em;
    }

    #contacto iframe {
        height: 150px;
        width: 100%;
    }
}
  
@media (min-width: 768px) {  

    body{
        font-size: 1.5em;
    }

    #contacto iframe {
        height: 450px;
        width: 100%;
    }
}

@media (min-width: 1024px) {

    body{
        font-size: 1em;
    }

    #torneos article{
        display: flex;
        gap: 1em;
    }

    #fotos article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1em;
    }

    #contacto iframe {
        height: 600px;
        width: 100%;
    }
}